@model IEnumerable<Razor.Models.Card>
@{ 
    ViewBag.Title = "CardPartialView";
}
<div class="jumbotron">
    <h2>動態人物卡</h2>
</div>

<div class="card-grid">
    @foreach (var item in Model)
    {
        @Html.Partial("_CardPArtial", item);
    }
</div>

@section topCss{
    <link href="~/www/css/StyleSheet1.css" rel="stylesheet" />
} 