@model IEnumerable<Razor.Models.Student>
@using Razor.Models;

@{ 
    ViewBag.Title = "學生期中考成績";
    var Students = from s in Model
                  select new Student
                  {
                      Id = s.Id,
                      Name = s.Name,
                      Chinese = s.Chinese,
                      English = s.English,
                      Math = s.Math,
                      Total = s.Chinese + s.English + s.Math
                  };
    int topScore = Students.Max(s => s.Total);
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var s in Students)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => s.Id)</td>

                @if (s.Total == topScore)
                {
                    <td class="top1">@Html.DisplayFor(modelItem => s.Id)</td>
                }
                else
                {
                    <td>@Html.DisplayFor(modelItem => s.Total)</td>
                }
            </tr>
        }
    </tbody>

</table>