<div class="card" style="width: 18rem;">
    <img src="~/www/image/inayuyu.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Ninomae Ina'nis</h5>
        <p class="card-text">初期團體「Myth」（神話組）的成員之一</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>